.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.actBar {
  width: 13vw;
  margin: 5vh 1%;
  display: inline-block;
  position: fixed;
  z-index: -99;
}

a {
  color: black;
}

.coverPhotoDiv {
  transition: background-color 0.5s;
  border-radius: 5px;
}
.coverPhotoDiv:hover {
  cursor: pointer;
  background-color: rgba(164, 163, 161, 0.5);
}

.panel-heading{
  box-shadow: inset 0 0 0 99999px rgba(255,255,255,0.5);
}
.panel-heading:hover {
  box-shadow: none;
}
.panel-title a:hover {
  cursor: pointer;
}
