.actBar {
  width: 25vw;
  margin: 5vh 1%;
  display: inline-block;
  position: fixed;
  z-index: -99;
}

a {
  color: black;
}

.coverPhotoDiv {
  transition: background-color 0.5s;
  border-radius: 5px;
}
.coverPhotoDiv:hover {
  cursor: pointer;
  background-color: rgba(164, 163, 161, 0.5);
}

.panel-heading{
  box-shadow: inset 0 0 0 99999px rgba(255,255,255,0.5);
}
.panel-heading:hover {
  box-shadow: none;
}
.panel-title a:hover {
  cursor: pointer;
}
